<div class="app">

    <div id="showAddForm" class="btn">Add Film</div>
    <div id="closeAddForm" class="btn" style="display: none;">Close Form</div>

    <div id="addFilmForm" style="display: none;">
        <h1>Add Film</h1>

        <form action="/add" method="POST">
            <div class="input-field ">
                <input id="title" name="title" type="text" class="validate" required>
                <label for="title">Title</label>
                <span class="helper-text" data-error="Enter the title"></span>
            </div>

            <div class="input-field">
                <input id="year" name="year" type="number" class="validate" required min="0">
                <label for="price">Year</label>
                <span class="helper-text" data-error="Enter the year"></span>
            </div>

            <label>Format</label>
            <select class="browser-default" id="formatId" name="formatId">
                <option value="" disabled selected>Choose format</option>
                <option value="1">VHS</option>
                <option value="2">DVD</option>
                <option value="3">Blu-Ray</option>
            </select>

            <div class="input-field">
                <input id="authors" name="authors" type="text" class="validate" required min="0">
                <label for="price">Author(s)</label>
                <span class="helper-text" data-error="Enter the authors"></span>
            </div>

            <button class="btn btn-primary" id="add">Add</button>
        </form>
    </div>

    <h1>{{film}}</h1>
    {{#each results}}
    <div class="col m4" id="{{id}}">
        <div class="card">
            <div class="card-content">
                <p><strong>Title:</strong> {{title}}</p>
            </div>
            <a href="/films/{{id}}" class="btn more" id="{{id}}">More</a>
            <a class="btn red delete" id="{{id}}">Delete</a>
        </div>
    </div>
    {{/each}}
</div>